<section class="aboutus">

<header class="page-header">
<h1>The Jungle &raquo; About Us</h1>
</header>
  <div>
  <p>
  
A jungle is land covered with dense forest and tangled vegetation, usually in tropical climates. Application of the term has varied greatly during the past recent century.

The jungle is the richest habitat on Earth. Over the intervals of time, different parts of tropical areas have provided a variety of flora and fauna, together with newer species discovered annually. Tropical jungles have been the home to indigenous peoples, who have shaped traditional cultures and civilizations based on the environment.

Because jungles occur on all inhabited landmasses and may incorporate numerous vegetation and land types in different climatic zones, the wildlife of jungles cannot be straightforwardly defined.

Monsoon forests and mangroves are commonly referred to as jungles of this type. Having a more open canopy than rainforests, monsoon forests typically have dense understoreys with numerous lianas and shrubs making movement difficult,

The terms "tropical forest" and "rainforest" have largely replaced "jungle" as the descriptor of humid tropical forests, a linguistic transition that has occurred since the 1970s. "Rainforest" itself did not appear in English dictionaries prior to the 1970s.
  </p>
  </div>

</section>